@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@using System.Numerics
@using Blazored.LocalStorage
@using BlazorWith3d.ExampleApp.Client.Shared
@using BlazorWith3d.Unity
@using BlazorWith3d.Shared
@using Microsoft.Extensions.Logging
@inject ILocalStorageService LocalStorage
@inject IServiceProvider Services
@inject ILogger<BlocksOnGrid3DComponent> Logger
@inject IJSRuntime JsRuntime
@implements I3DAppController
@implements IAsyncDisposable
@implements IBlocksOnGrid3DController

<text>@(RendererInfo.Name) @(RendererInfo.IsInteractive?"Interactive":"Static")</text>


<table>
    <thead>
    <tr>
        <td>
            Template id
        </td>
        <td>
            sizeX
        </td>
        <td>
            sizeY
        </td>
        <td>
            sizeZ
        </td>
        <td>
            Visuals
        </td>
        <td>
        </td>
    </tr>
    </thead>
    @foreach (var template in _templates)
    {
        <tr>
            <td>
                @template.TemplateId
            </td>
            <td>
                @template.Size.X
            </td>
            <td>
                @template.Size.Y
            </td>
            <td>
                @template.Size.Z
            </td>
            <td>
                @template.VisualsUri
            </td>
            <td>
                <button @onclick="() => RemoveTemplate(template.TemplateId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeZ"></InputNumber>
        </td>
        <td>
            <InputSelect @bind-Value="_newTemplateAsset">
                <option value="">None</option>
                @foreach (var (asset,index) in GltfAssets.Select((o,i)=>(o,i)))
                {
                    <option value="@index">@asset.name</option>
                }
            </InputSelect>
        </td>
        <td>
            <button @onclick="AddTemplate">Add</button>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Block id
        </td>
        <td>
            positionX
        </td>
        <td>
            positionY
        </td>
        <td>
            rotationZ
        </td>
        <td>
            templateId
        </td>
        <td>
        </td>
    </tr>
    @foreach (var block in _instances)
    {
        <tr>
            <td>
                @block.BlockId
            </td>
            <td>
                @block.Position.X
            </td>
            <td>
                @block.Position.Y
            </td>
            <td>
                @block.RotationZ
            </td>
            <td>
                @block.TemplateId
            </td>
            <td>
                <button @onclick="() => RemoveBlock(block.BlockId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockRotationZ"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockTemplateId"></InputNumber>
        </td>
        <td>
            <button @onclick="AddBlock" disabled="@(!_templates.Any(o => o.TemplateId == _newBlockTemplateId))">Add</button>
        </td>
    </tr>
</table>

<button @onclick="@(() => PerfCheck(true))">Perf Check Large</button>
<button @onclick="@(() => PerfCheck(false))">Perf Check Small</button>

<InputNumber @bind-Value="_perfTestCount"></InputNumber>
@if (!string.IsNullOrEmpty(_perfResponse))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @_perfResponse
    </div>
}
<button @onclick="TriggerTestToBlazor">TriggerTestToBlazor</button>

<div @ref="_rendererContainerReference" @onmousedown="OnMouseDown" draggable="false" style="width: 500px; height: 500px; position: relative; border: red 1px solid; user-select: none">

    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    int _newIdCounter;

    float _newTemplateSizeX = 1;
    float _newTemplateSizeY = 1;
    float _newTemplateSizeZ = 1;
    int? _newTemplateAsset = null;

    float _newBlockPositionX;
    float _newBlockPositionY;
    float _newBlockRotationZ;
    int _newBlockTemplateId;

    string? _perfResponse;
    int _perfTestCount=100;

    private List<AddBlockTemplate> _templates = new();
    private List<AddBlockInstance> _instances = new();

    private IBlocksOnGrid3DRenderer? _rendererApi;
    private DotNetObjectReference<JsProxy>? _jsProxyReference;

    private UnityAppInitialized _appState;
    private (AddBlockInstance instance, float offsetX,float offsetY, float dragPlaneZ)? _dragging;
    private IJSObjectReference module;
    private IJSObjectReference? _mouseEventsDispose;

    private ElementReference _rendererContainerReference;

    private static (string name, string url )[] GltfAssets = [ ("BoomBox", "./_content/BlazorWith3d.ExampleApp.Client/gltf/BoomBox.glb")];

    private SemaphoreSlim _initializeRendererSemaphoreSlim = new (1);


    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.Name== "Server")
        {
            await LoadInitialState();
        }

         _jsProxyReference = DotNetObjectReference.Create(new JsProxy(OnMouseMove, OnMouseUp));
        await base.OnInitializedAsync();
    }

    private async Task LoadInitialState()
    {
        _templates = await LocalStorage.GetItemAsync<List<AddBlockTemplate>>("_templates") ?? new List<AddBlockTemplate>();
        _instances = await LocalStorage.GetItemAsync<List<AddBlockInstance>>("_blocks") ?? new List<AddBlockInstance>();
        
        _newIdCounter = _templates.Select(o => o.TemplateId).Concat(_instances.Select(o => o.BlockId)).DefaultIfEmpty(-1).Max() + 1;
        
        StateHasChanged();
        await ReplayState();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }
        var moduleTask = new Lazy<Task<IJSObjectReference>>(() => JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorWith3d.ExampleApp.Client/globalMouseEvents.js").AsTask());
        module = await moduleTask.Value;
        
        await LoadInitialState();
        await base.OnAfterRenderAsync(firstRender);
    }

    public void SetRenderer(IBlocksOnGrid3DRenderer? renderer)
    {
        throw new NotImplementedException();
    }

    private int _rendererCounter;
    private bool _isMouseMoveBeingHanlded;

    public async ValueTask<IDisposable> InitializeRenderer(IBlocksOnGrid3DRenderer rendererApi, Func<ValueTask>? afterEventHandlerIsSet)
    {
        unchecked
        {
            _rendererCounter++;
        }
        var rendererCounter = _rendererCounter;
        
        await _initializeRendererSemaphoreSlim.WaitAsync();
        try
        {
            
            _rendererApi = rendererApi;
            if (_rendererApi != null)
            {
                _rendererApi.SetController(this);

                if (afterEventHandlerIsSet != null)
                {
                    await afterEventHandlerIsSet();
                }

                await _rendererApi.InvokeBlazorControllerInitialized(new BlazorControllerInitialized());
            }

            await ReplayState();

        }
        finally
        {
            _initializeRendererSemaphoreSlim.Release();
        }

        return new DisposableAction(() =>
        {
            if (rendererCounter == _rendererCounter)
            {
                _rendererApi = null;
            }
            rendererApi.SetController(null);
        });
    }

    public async ValueTask OnUnityAppInitialized(UnityAppInitialized msg)
    {
        _appState = msg;
    }

    private async ValueTask ReplayState()
    {
        if (_rendererApi == null)
        {
            return;
        }
        
        foreach (var template in _templates)
        {
            await _rendererApi.InvokeAddBlockTemplate(template);
        }

        foreach (var block in _instances)
        {
            await _rendererApi.InvokeAddBlockInstance(block);
        }
    }

    private async Task AddTemplate()
    {
        var msg = new AddBlockTemplate { TemplateId = _newIdCounter++, Size = new Vector3(_newTemplateSizeX, _newTemplateSizeY, _newTemplateSizeZ), VisualsUri = _newTemplateAsset==null?null:GltfAssets[_newTemplateAsset.Value].url};
        _templates.Add(msg);
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeAddBlockTemplate(msg);
        }
    }

    private void  SaveToLocalStorage()
    {
        Task.Run(async () =>
        {
            await LocalStorage.SetItemAsync("_templates", _templates);
            await LocalStorage.SetItemAsync("_blocks", _instances);
        });
    }

    private async Task RemoveTemplate(int id)
    {
        _templates.RemoveAll(o => o.TemplateId == id);
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeRemoveBlockTemplate(new RemoveBlockTemplate { TemplateId = id });
        }
    }

    private async Task AddBlock()
    {
        var msg = new AddBlockInstance { BlockId = _newIdCounter++, Position = new Vector2(_newBlockPositionX,_newBlockPositionY) , RotationZ = _newBlockRotationZ, TemplateId = _newBlockTemplateId };
        _instances.Add(msg);
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeAddBlockInstance(msg);
        }
    }

    private async Task RemoveBlock(int id)
    {
        _instances.RemoveAll(o => o.BlockId == id);
        SaveToLocalStorage();
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeRemoveBlockInstance(new RemoveBlockInstance { BlockId = id });
        }
    }

    private async Task PerfCheck(bool isLarge)
    {
        if (_rendererApi == null)
        {
            _perfResponse = "No Renderer is configured!";
            return;
        } 
        var testCount = _perfTestCount;

        var testString =isLarge? string.Join(",", Enumerable.Range(0, 1000)) : string.Empty;
        
        var avgStopwatch = new Stopwatch();

        avgStopwatch.Start();
        for (var i = 0; i < testCount; i++)
        {
           var response= await _rendererApi.InvokePerfCheck(new PerfCheck
            {
                Id = i,
                Aaa = 12,
                Bbb = 12.12,
                Ccc = 13888888888888,
                Ddd = testString
            });
        }
        avgStopwatch.Stop();

        _perfResponse = $"{testCount} messages there and back, took {avgStopwatch.ElapsedMilliseconds:F2} ms (avg {(decimal)avgStopwatch.ElapsedMilliseconds / testCount:F2} ms)";

    }

    private class JSVector2
    {
        public float X { get; set; }
        
        public float Y{ get; set; }
    }

    private async Task OnMouseDown(MouseEventArgs e)
    {
        if (_rendererApi == null)
        {
            return;
        }
        
        var offset = await module.InvokeAsync<JSVector2>("ConvertPageToOffset", _rendererContainerReference, e.ClientX, e.ClientY);

        var screenToRayResponse = await _rendererApi.InvokeRequestScreenToWorldRay(new RequestScreenToWorldRay()
        {
            Screen = new Vector2(offset.X, offset.Y)
        });


        var raycastResponse = await _rendererApi.InvokeRequestRaycast(new RequestRaycast()
        {
            Ray = screenToRayResponse.Ray
        });

        //#error raycast is somehow not hitting anything in unity!!!

        if (!raycastResponse.HitBlockId.HasValue)
        {
            return;
        }

        var instance = _instances.FirstOrDefault(o => o.BlockId == raycastResponse.HitBlockId);

        var offsetX = raycastResponse.HitWorld.X - instance.Position.X;
        var offsetY = raycastResponse.HitWorld.Y - instance.Position.Y;
        _dragging = (instance, offsetX, offsetY, raycastResponse.HitWorld.Z);

        _mouseEventsDispose = await module.InvokeAsync<IJSObjectReference>("InitializeGlobalMouseEvents", _rendererContainerReference, _jsProxyReference, nameof(JsProxy.OnMouseMove), nameof(JsProxy.OnMouseUp));
    }

    private async void OnMouseMove(float offsetX, float offsetY)
    {
        if (!_dragging.HasValue)
        {
            return;
        }
        if (_rendererApi == null)
        {
            // force end drag in case the renderer is set to null while dragging
            OnMouseUp();
            return;
        }

        if (_isMouseMoveBeingHanlded)
        {
            return;
        }

        _isMouseMoveBeingHanlded = true;
        var dragging = _dragging.Value;
        
        var screenToRayResponse=await _rendererApi.InvokeRequestScreenToWorldRay(new RequestScreenToWorldRay()
        {
            Screen = new Vector2(offsetX,offsetY)
        });

        // TODO make configurable
        var worldToPlane = Matrix4x4.Identity; // as this defines the drag plane

        var rayOrigin = screenToRayResponse.Ray.Origin.ToVector3();
        var rayDirection = screenToRayResponse.Ray.Direction.ToVector3();

        rayOrigin=Vector3.Transform(rayOrigin,worldToPlane);
        rayDirection=Vector3.TransformNormal(rayDirection,worldToPlane);
        
        
        var plane = new Plane(new Vector3(0, 0, 1), dragging.dragPlaneZ);
        var potentialHit= plane.Raycast(new Ray(rayOrigin, rayDirection));
        if (potentialHit == null)
        {
            throw new InvalidOperationException();
        }

        var hit = potentialHit.Value;
        
        var newPositionX = hit.X - dragging.offsetX;
        var newPositionY = hit.Y - dragging.offsetY;


        newPositionY = (float)Math.Round(newPositionY, 0);


        dragging.instance.Position = new Vector2(newPositionX, newPositionY);
        
        _rendererApi.InvokeUpdateBlockInstance(dragging.instance.BlockId, new Vector2(newPositionX,newPositionY), dragging.instance.RotationZ);
        
        
        StateHasChanged();
        _isMouseMoveBeingHanlded = false;
    }
    
    private void OnMouseUp()
    {
        if (!_dragging.HasValue)
        {
            return;
        }
        
        _dragging = null;
        
        _mouseEventsDispose?.InvokeVoidAsync("Dispose");
    }

    private class JsProxy(Action<float,float> onMouseMove,Action onMouseUp)
    {
        [JSInvokable]
        public void OnMouseMove(float screenX, float screenY)
        {
            onMouseMove(screenX,screenY);
        }
        [JSInvokable]
        public void OnMouseUp()
        {
            onMouseUp();
        }
    }

    public ValueTask DisposeAsync()
    {
        _jsProxyReference?.Dispose();
        return ValueTask.CompletedTask;
    }

    public async ValueTask<TestToBlazor> OnTestToBlazor(TestToBlazor msg)
    {
        return msg;
    }

    private async Task TriggerTestToBlazor()
    {
        if (_rendererApi == null)
        {
            return;
        }
        
        await _rendererApi.InvokeTriggerTestToBlazor(new TriggerTestToBlazor());
    }


}