@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@using Blazored.LocalStorage
@using BlazorWith3d.ExampleApp.Client.Shared
@using BlazorWith3d.Unity
@using BlazorWith3d.Shared
@using Microsoft.Extensions.Logging
@inject ILocalStorageService LocalStorage
@inject IServiceProvider Services
@inject ILogger<BlocksOnGrid3DComponent> Logger
@implements I3DAppController

<text>@(RendererInfo.Name) @(RendererInfo.IsInteractive?"Interactive":"Static")</text>


<table>
    <thead>
    <tr>
        <td>
            Template id
        </td>
        <td>
            sizeX
        </td>
        <td>
            sizeY
        </td>
        <td>
            sizeZ
        </td>
        <td>
        </td>
    </tr>
    </thead>
    @foreach (var template in _templates)
    {
        <tr>
            <td>
                @template.id
            </td>
            <td>
                @template.sizeX
            </td>
            <td>
                @template.sizeY
            </td>
            <td>
                @template.sizeZ
            </td>
            <td>
                <button @onclick="() => RemoveTemplate(template.id)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeZ"></InputNumber>
        </td>
        <td>
            <button @onclick="AddTemplate">Add</button>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Block id
        </td>
        <td>
            positionX
        </td>
        <td>
            positionY
        </td>
        <td>
            rotationZ
        </td>
        <td>
            templateId
        </td>
        <td>
        </td>
    </tr>
    @foreach (var block in _blocks)
    {
        <tr>
            <td>
                @block.blockId
            </td>
            <td>
                @block.positionX
            </td>
            <td>
                @block.positionY
            </td>
            <td>
                @block.rotationZ
            </td>
            <td>
                @block.templateId
            </td>
            <td>
                <button @onclick="() => RemoveBlock(block.blockId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockRotationZ"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockTemplateId"></InputNumber>
        </td>
        <td>
            <button @onclick="AddBlock" disabled="@(!_templates.Any(o => o.id == _newBlockTemplateId))">Add</button>
        </td>
    </tr>
</table>

<button @onclick="PerfCheck">Perf Check</button>

<InputNumber @bind-Value="_perfTestCount"></InputNumber>
@if (!string.IsNullOrEmpty(_perfResponse))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @_perfResponse
    </div>
}
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    int _newIdCounter;

    float _newTemplateSizeX = 1;
    float _newTemplateSizeY = 1;
    float _newTemplateSizeZ = 1;

    float _newBlockPositionX;
    float _newBlockPositionY;
    float _newBlockRotationZ;
    int _newBlockTemplateId;

    string? _perfResponse;
    int _perfTestCount=100;

    private List<(int id, float sizeX, float sizeY, float sizeZ)> _templates = new();
    private List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)> _blocks = new();

    private IBlocksOnGrid3DApp? _rendererApi;

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.Name== "Server")
        {
            await LoadInitialState();
        }

        await base.OnInitializedAsync();
    }

    private async Task LoadInitialState()
    {
        _templates = await LocalStorage.GetItemAsync<List<(int id, float sizeX, float sizeY, float sizeZ)>>("_templates") ?? new List<(int id, float sizeX, float sizeY, float sizeZ)>();
        _blocks = await LocalStorage.GetItemAsync<List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)>>("_blocks") ?? new List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)>();

        _newIdCounter = _templates.Select(o => o.id).Concat(_blocks.Select(o => o.blockId)).DefaultIfEmpty(-1).Max() + 1;
        
        StateHasChanged();
        await ReplayState();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }
        await LoadInitialState();
        await base.OnAfterRenderAsync(firstRender);
    }

    public void InitializeRenderer(IBlocksOnGrid3DApp? rendererApi)
    {
        if (_rendererApi != null)
        {
            _rendererApi.OnUnityAppInitialized -= OnAppInitialized;
            _rendererApi.OnBlockPoseChanging -= OnBlockPoseChanging;
            _rendererApi.OnBlockPoseChanged -= OnBlockPoseChanged;
        }
        
        _rendererApi = rendererApi;
        if (_rendererApi != null)
        {
            _rendererApi.OnUnityAppInitialized += OnAppInitialized;
            _rendererApi.OnBlockPoseChanging += OnBlockPoseChanging;
            _rendererApi.OnBlockPoseChanged += OnBlockPoseChanged;

            _rendererApi.StartProcessingMessages();
            _rendererApi.InvokeBlazorControllerInitialized(new BlazorControllerInitialized());
        }

        
         ReplayState();
    }

    private void OnBlockPoseChanged(BlockPoseChanged obj)
    {
        var blockIndex = _blocks.FindIndex(o => o.blockId == obj.BlockId);
        var block = _blocks[blockIndex];

        _blocks[blockIndex] = (block.blockId, obj.PositionX, obj.PositionY, obj.RotationZ, block.templateId);
        SaveToLocalStorage();
        StateHasChanged();
    }

    private void OnBlockPoseChanging(BlockPoseChanging arg)
    {
        if (_rendererApi == null)
        {
            return;
        }
        
        _rendererApi.InvokeBlockPoseChangeValidated(new BlockPoseChangeValidated
        {
            BlockId = arg.BlockId,
            IsValid = true,
            NewPositionX = arg.PositionX,
            NewPositionY = (float)Math.Round(arg.PositionY, 0),
            NewRotationZ = arg.RotationZ,
            ChangingRequestId = arg.ChangingRequestId
        });
    }

    private async void OnAppInitialized(UnityAppInitialized arg)
    {
    }

    private async ValueTask ReplayState()
    {
        if (_rendererApi == null)
        {
            return;
        }
        
        foreach (var template in _templates)
        {
            var msg = new AddBlockTemplate { TemplateId = template.id, SizeX = template.sizeX, SizeY = template.sizeY, SizeZ = template.sizeZ };
            await _rendererApi.InvokeAddBlockTemplate(msg);
        }

        foreach (var block in _blocks)
        {
            var msg = new AddBlockInstance { BlockId = block.blockId, PositionX = block.positionX, PositionY = block.positionY, RotationZ = block.rotationZ, TemplateId = block.templateId };
            await _rendererApi.InvokeAddBlockInstance(msg);
        }
    }

    private async Task AddTemplate()
    {
        var msg = new AddBlockTemplate { TemplateId = _newIdCounter++, SizeX = _newTemplateSizeX, SizeY = _newTemplateSizeY, SizeZ = _newTemplateSizeZ };
        _templates.Add((msg.TemplateId, msg.SizeX, msg.SizeY, msg.SizeZ));
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeAddBlockTemplate(msg);
        }
    }

    private void  SaveToLocalStorage()
    {
        Task.Run(async () =>
        {
            await LocalStorage.SetItemAsync("_templates", _templates);
            await LocalStorage.SetItemAsync("_blocks", _blocks);
        });
    }

    private async Task RemoveTemplate(int id)
    {
        _templates.RemoveAll(o => o.id == id);
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeRemoveBlockTemplate(new RemoveBlockTemplate { TemplateId = id });
        }
    }

    private async Task AddBlock()
    {
        var msg = new AddBlockInstance { BlockId = _newIdCounter++, PositionX = _newBlockPositionX, PositionY = _newBlockPositionY, RotationZ = _newBlockRotationZ, TemplateId = _newBlockTemplateId };
        _blocks.Add((msg.BlockId, msg.PositionX, msg.PositionY, msg.RotationZ, msg.TemplateId));
        SaveToLocalStorage();
        
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeAddBlockInstance(msg);
        }
    }

    private async Task RemoveBlock(int id)
    {
        _blocks.RemoveAll(o => o.blockId == id);
        SaveToLocalStorage();
        if (_rendererApi != null)
        {
            await _rendererApi.InvokeRemoveBlockInstance(new RemoveBlockInstance { BlockId = id });
        }
    }

    private async Task PerfCheck()
    {
        if (_rendererApi == null)
        {
            _perfResponse = "No Renderer is configured!";
            return;
        } 
        var testCount = _perfTestCount;

        var responses = new bool[testCount];
        var responsesRemaining = testCount;

        var tcs = new TaskCompletionSource();
        var avgStopwatch = new Stopwatch();

        _rendererApi.OnPerfCheck += Process;

        avgStopwatch.Start();
        for (var i = 0; i < testCount; i++)
        {
            await _rendererApi.InvokePerfCheck(new PerfCheck
            {
                Id = i,
                Aaa = 12,
                Bbb = 12.12,
                Ccc = 13888888888888,
                Ddd = "https://aaaa.cc/erekwn/sdas?adsasd=asda"
            });
        }

        await tcs.Task;

        _rendererApi.OnPerfCheck -= Process;

        _perfResponse = $"{testCount} messages there and back, took {avgStopwatch.ElapsedMilliseconds:F2} ms (avg {(decimal)avgStopwatch.ElapsedMilliseconds / testCount:F2} ms)";

        void Process(PerfCheck response)
        {
            responses[response.Id] = true;
            responsesRemaining--;
            if (responsesRemaining == 0)
            {
                avgStopwatch.Stop();
                tcs.SetResult();
            }
        }
    }

}