@using System.Diagnostics
@using System.Drawing
@using System.Numerics
@using Blazored.LocalStorage
@using BlazorWith3d.ExampleApp.Client.Shared
@using Microsoft.Extensions.Logging
@inject ILocalStorageService LocalStorage
@inject IServiceProvider Services
@inject ILogger<BlocksOnGrid3DComponent> Logger
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable
@implements IBlocksOnGrid3DBlazorController

<text>@(RendererInfo.Name) @(RendererInfo.IsInteractive?"Interactive":"Static")</text>


<table>
    <thead>
    <tr>
        <td>
            Template id
        </td>
        <td>
            sizeX
        </td>
        <td>
            sizeY
        </td>
        <td>
            sizeZ
        </td>
        <td>
            Visuals
        </td>
        <td>
        </td>
    </tr>
    </thead>
    @foreach (var template in _templates)
    {
        <tr>
            <td>
                @template.TemplateId
            </td>
            <td>
                @template.Size.X
            </td>
            <td>
                @template.Size.Y
            </td>
            <td>
                @template.Size.Z
            </td>
            <td>
                @template.VisualsUri
            </td>
            <td>
                <button @onclick="() => RemoveTemplate(template.TemplateId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeZ"></InputNumber>
        </td>
        <td>
            <InputSelect @bind-Value="_newTemplateAsset">
                <option value="">None</option>
                @foreach (var (asset,index) in GltfAssets.Select((o,i)=>(o,i)))
                {
                    <option value="@index">@asset.name</option>
                }
            </InputSelect>
        </td>
        <td>
            <button @onclick="AddTemplate">Add</button>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Block id
        </td>
        <td>
            positionX
        </td>
        <td>
            positionY
        </td>
        <td>
            rotationZ
        </td>
        <td>
            templateId
        </td>
        <td>
        </td>
    </tr>
    @foreach (var block in _instances)
    {
        <tr>
            <td>
                @block.BlockId
            </td>
            <td>
                @block.Position.X
            </td>
            <td>
                @block.Position.Y
            </td>
            <td>
                @block.RotationZ
            </td>
            <td>
                @block.TemplateId
            </td>
            <td>
                <button @onclick="() => RemoveBlock(block.BlockId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockRotationZ"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockTemplateId"></InputNumber>
        </td>
        <td>
            <button @onclick="AddBlock" disabled="@(!_templates.Any(o => o.TemplateId == _newBlockTemplateId))">Add</button>
        </td>
    </tr>
</table>

<button @onclick="@(() => PerfCheck(true))">Perf Check Large</button>
<button @onclick="@(() => PerfCheck(false))">Perf Check Small</button>

<InputNumber @bind-Value="_perfTestCount"></InputNumber>
@if (!string.IsNullOrEmpty(_perfResponse))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <pre>
            @_perfResponse
        </pre>
    </div>
}
<button @onclick="TriggerTestToBlazor">TriggerTestToBlazor</button>

<div @onmousedown="OnMouseDown" draggable="false">

    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    int _newIdCounter;

    float _newTemplateSizeX = 1;
    float _newTemplateSizeY = 1;
    float _newTemplateSizeZ = 1;
    int? _newTemplateAsset = null;

    float _newBlockPositionX;
    float _newBlockPositionY;
    float _newBlockRotationZ;
    int _newBlockTemplateId;

    string? _perfResponse;
    int _perfTestCount=100;

    private List<AddBlockTemplate> _templates = new();
    private List<AddBlockInstance> _instances = new();

    private readonly List<IBlocksOnGrid3DBlazorRenderer> _renderers= new ();
    private DotNetObjectReference<JsProxy>? _jsProxyReference;

    private (IBlocksOnGrid3DBlazorRenderer renderer, AddBlockInstance instance, float offsetX,float offsetY, float dragPlaneZ)? _dragging;
    private IJSObjectReference module;
    private IJSObjectReference? _mouseEventsDispose;

    private static (string name, string url )[] GltfAssets = [ ("BoomBox", "./_content/BlazorWith3d.ExampleApp.Client/gltf/BoomBox.glb")];

    private SemaphoreSlim _initializeRendererSemaphoreSlim = new (1);


    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.Name== "Server")
        {
            await LoadInitialState();
        }

         _jsProxyReference = DotNetObjectReference.Create(new JsProxy(OnMouseMove, OnMouseUp));
        await base.OnInitializedAsync();
    }

    private async Task LoadInitialState()
    {
        _templates = await LocalStorage.GetItemAsync<List<AddBlockTemplate>>("_templates") ?? new List<AddBlockTemplate>();
        _instances = await LocalStorage.GetItemAsync<List<AddBlockInstance>>("_blocks") ?? new List<AddBlockInstance>();
        
        _newIdCounter = _templates.Select(o => o.TemplateId).Concat(_instances.Select(o => o.BlockId)).DefaultIfEmpty(-1).Max() + 1;
        
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }
        var moduleTask = new Lazy<Task<IJSObjectReference>>(() => JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorWith3d.ExampleApp.Client/globalMouseEvents.js").AsTask());
        module = await moduleTask.Value;
        
        await LoadInitialState();
        await base.OnAfterRenderAsync(firstRender);
    }

    private bool _isMouseMoveBeingHandled;
    
    public async ValueTask AddRenderer(IBlocksOnGrid3DBlazorRenderer rendererApi)
    {
        await _initializeRendererSemaphoreSlim.WaitAsync();
        try
        {
            _renderers.Add(rendererApi);
            
            await rendererApi.RendererApi.InitializeRenderer(new RendererInitializationInfo()
            {
                BackgroundColor = Color.DarkSlateGray,
                RequestedCameraPosition = new Vector3(0,0,10),
                RequestedCameraRotation = new Vector3(0,0,0),
                RequestedCameraFoV = 60
            });
            await ReplayState(rendererApi);
        }
        finally
        {
            _initializeRendererSemaphoreSlim.Release();
        }
    }

    
    public async ValueTask RemoveRenderer(IBlocksOnGrid3DBlazorRenderer renderer)
    {
        await _initializeRendererSemaphoreSlim.WaitAsync();
        try
        {
            _renderers.Remove(renderer);
        }
        finally
        {
            _initializeRendererSemaphoreSlim.Release();
        }
    }

    public async ValueTask OnRendererInitialized(RendererInitialized msg, IBlocksOnGrid3DRenderer renderer)
    {
        Logger.LogInformation($"Renderer {renderer.GetType().Name} is Initialized");
    }

    private async ValueTask ReplayState(IBlocksOnGrid3DBlazorRenderer? rendererApi)
    {
        var apis = rendererApi == null ? _renderers : [rendererApi];
        foreach (var api in apis)
        {
            foreach (var template in _templates)
            {
                await api.RendererApi.InvokeAddBlockTemplate(template);
            }

            foreach (var block in _instances)
            {
                await api.RendererApi.InvokeAddBlockInstance(block);
            }
        }
    }

    private async Task AddTemplate()
    {
        var msg = new AddBlockTemplate { TemplateId = _newIdCounter++, Size = new Vector3(_newTemplateSizeX, _newTemplateSizeY, _newTemplateSizeZ), VisualsUri = _newTemplateAsset==null?null:GltfAssets[_newTemplateAsset.Value].url};
        _templates.Add(msg);
        SaveToLocalStorage();

        foreach (var rendererApi in _renderers)
        {
            await rendererApi.RendererApi.InvokeAddBlockTemplate(msg);
        }
    }

    private void  SaveToLocalStorage()
    {
        Task.Run(async () =>
        {
            await LocalStorage.SetItemAsync("_templates", _templates);
            await LocalStorage.SetItemAsync("_blocks", _instances);
        });
    }

    private async Task RemoveTemplate(int id)
    {
        _templates.RemoveAll(o => o.TemplateId == id);
        SaveToLocalStorage();
        
       
        foreach (var rendererApi in _renderers)
        {
            await rendererApi.RendererApi.InvokeRemoveBlockTemplate(new RemoveBlockTemplate { TemplateId = id });
        }
    }

    private async Task AddBlock()
    {
        var msg = new AddBlockInstance { BlockId = _newIdCounter++, Position = new Vector2(_newBlockPositionX,_newBlockPositionY) , RotationZ = _newBlockRotationZ, TemplateId = _newBlockTemplateId };
        _instances.Add(msg);
        SaveToLocalStorage();
        
     
        foreach (var rendererApi in _renderers)
        {
            await rendererApi.RendererApi.InvokeAddBlockInstance(msg);
        }
    }

    private async Task RemoveBlock(int id)
    {
        _instances.RemoveAll(o => o.BlockId == id);
        SaveToLocalStorage();
      
        foreach (var rendererApi in _renderers)
        {
            await rendererApi.RendererApi.InvokeRemoveBlockInstance(new RemoveBlockInstance { BlockId = id });
        }
    }

    private async Task PerfCheck(bool isLarge)
    {
        if (_renderers.Count==0)
        {
            _perfResponse = "No Renderer is configured!";
            return;
        } 
        var testCount = _perfTestCount;

        var testString =isLarge? string.Join(",", Enumerable.Range(0, 1000)) : string.Empty;
        _perfResponse = "";
        foreach (var rendererApi in _renderers)
        {

            var avgStopwatch = new Stopwatch();

            avgStopwatch.Start();
            for (var i = 0; i < testCount; i++)
            {
                var response= await rendererApi.RendererApi.InvokePerfCheck(new PerfCheck
                {
                    Id = i,
                    Aaa = 12,
                    Bbb = 12.12,
                    Ccc = 13888888888888,
                    Ddd = testString
                });
            }
            avgStopwatch.Stop();

            if (_perfResponse.Length != 0)
            {
                _perfResponse += "\n";
            }

            _perfResponse += $"{testCount} messages there and back for {rendererApi.Label}, took {avgStopwatch.ElapsedMilliseconds:F2} ms (avg {(decimal)avgStopwatch.ElapsedMilliseconds / testCount:F2} ms) ";

        }
        
    }

    private class JSVector2
    {
        public float X { get; set; }
        
        public float Y{ get; set; }
    }

    private async Task OnMouseDown(MouseEventArgs e)
    {
        if (_renderers.Count == 0)
        {
            return;
        }

        IBlocksOnGrid3DBlazorRenderer? renderer = null;
        JSVector2 offset = null;
        foreach (var potentialRenderer in _renderers)
        {
            var potentialOffset = await module.InvokeAsync<JSVector2?>("ConvertPageToOffsetIfInside", potentialRenderer.RendererContainer, e.ClientX, e.ClientY);

            if (potentialOffset != null)
            {
                renderer = potentialRenderer;
                offset = potentialOffset;
                break;
            }
        }

        if (renderer == null || offset==null)
        {
            return;
        }

        var screenToRayResponse = await renderer.RendererApi.InvokeRequestScreenToWorldRay(new RequestScreenToWorldRay()
        {
            Screen = new Vector2(offset.X, offset.Y)
        });


        var raycastResponse = await renderer.RendererApi.InvokeRequestRaycast(new RequestRaycast()
        {
            Ray = screenToRayResponse.Ray
        });
        
        if (!raycastResponse.IsBlockHit)
        {
            return;
        }

        var instance = _instances.FirstOrDefault(o => o.BlockId == raycastResponse.HitBlockId);

        var offsetX = raycastResponse.HitWorld.X - instance.Position.X;
        var offsetY = raycastResponse.HitWorld.Y - instance.Position.Y;
        _dragging = (renderer,instance, offsetX, offsetY, raycastResponse.HitWorld.Z);

        _mouseEventsDispose = await module.InvokeAsync<IJSObjectReference>("InitializeGlobalMouseEvents", renderer.RendererContainer, _jsProxyReference, nameof(JsProxy.OnMouseMove), nameof(JsProxy.OnMouseUp));
    }

    private async void OnMouseMove(float offsetX, float offsetY)
    {
        if (!_dragging.HasValue)
        {
            return;
        }
        if (!_renderers.Contains(_dragging.Value.renderer))
        {
            // force end drag in case the renderer is removed while dragging
            OnMouseUp();
            return;
        }

        if (_isMouseMoveBeingHandled)
        {
            return;
        }

        _isMouseMoveBeingHandled = true;
        var dragging = _dragging.Value;

        var draggingRenderer = dragging.renderer;
        
        var screenToRayResponse=await draggingRenderer.RendererApi.InvokeRequestScreenToWorldRay(new RequestScreenToWorldRay()
        {
            Screen = new Vector2(offsetX,offsetY)
        });

        // TODO make configurable
        var worldToPlane = Matrix4x4.Identity; // as this defines the drag plane

        var rayOrigin = screenToRayResponse.Ray.Origin.ToVector3();
        var rayDirection = screenToRayResponse.Ray.Direction.ToVector3();

        rayOrigin=Vector3.Transform(rayOrigin,worldToPlane);
        rayDirection=Vector3.TransformNormal(rayDirection,worldToPlane);
        
        
        var plane = new Plane(new Vector3(0, 0, 1), dragging.dragPlaneZ);
        var potentialHit= plane.Raycast(new Ray(rayOrigin, rayDirection));
        if (potentialHit == null)
        {
            throw new InvalidOperationException();
        }

        var hit = potentialHit.Value;
        
        var newPositionX = hit.X - dragging.offsetX;
        var newPositionY = hit.Y - dragging.offsetY;


        newPositionY = (float)Math.Round(newPositionY, 0);


        dragging.instance.Position = new Vector2(newPositionX, newPositionY);

        foreach (var renderer in _renderers)
        {
            await renderer.RendererApi.InvokeUpdateBlockInstance(dragging.instance.BlockId, new Vector2(newPositionX,newPositionY), dragging.instance.RotationZ);
        }
        
        StateHasChanged();
        _isMouseMoveBeingHandled = false;
    }
    
    private void OnMouseUp()
    {
        if (!_dragging.HasValue)
        {
            return;
        }
        
        _dragging = null;
        
        _mouseEventsDispose?.InvokeVoidAsync("Dispose");
    }

    private class JsProxy(Action<float,float> onMouseMove,Action onMouseUp)
    {
        [JSInvokable]
        public void OnMouseMove(float screenX, float screenY)
        {
            onMouseMove(screenX,screenY);
        }
        [JSInvokable]
        public void OnMouseUp()
        {
            onMouseUp();
        }
    }

    public ValueTask DisposeAsync()
    {
        _jsProxyReference?.Dispose();
        return ValueTask.CompletedTask;
    }

    public async ValueTask<TestToBlazor> OnTestToBlazor(TestToBlazor msg)
    {
        return msg;
    }

    private async Task TriggerTestToBlazor()
    {
        foreach (var renderer in _renderers)
        {
            await renderer.RendererApi.InvokeTriggerTestToBlazor(new TriggerTestToBlazor());
        }
    }

}