@using System.Diagnostics
@using Blazored.LocalStorage
@using BlazorWith3d.ExampleApp.Client.Unity.Shared
@using BlazorWith3d.Unity
@using BlazorWith3d.Unity.Shared
@rendermode InteractiveAuto
@inject ILocalStorageService LocalStorage
@inject IServiceProvider Services
@inject ILogger<BlocksOnGrid3DComponent> Logger
@implements I3DAppController

<text>@(OperatingSystem.IsBrowser() ? "WASM" : "Serverside")</text>


<table>
    <thead>
    <tr>
        <td>
            Template id
        </td>
        <td>
            sizeX
        </td>
        <td>
            sizeY
        </td>
        <td>
            sizeZ
        </td>
        <td>
        </td>
    </tr>
    </thead>
    @foreach (var template in _templates)
    {
        <tr>
            <td>
                @template.id
            </td>
            <td>
                @template.sizeX
            </td>
            <td>
                @template.sizeY
            </td>
            <td>
                @template.sizeZ
            </td>
            <td>
                <button @onclick="() => RemoveTemplate(template.id)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newTemplateSizeZ"></InputNumber>
        </td>
        <td>
            <button @onclick="AddTemplate">Add</button>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Block id
        </td>
        <td>
            positionX
        </td>
        <td>
            positionY
        </td>
        <td>
            rotationZ
        </td>
        <td>
            templateId
        </td>
        <td>
        </td>
    </tr>
    @foreach (var block in _blocks)
    {
        <tr>
            <td>
                @block.blockId
            </td>
            <td>
                @block.positionX
            </td>
            <td>
                @block.positionY
            </td>
            <td>
                @block.rotationZ
            </td>
            <td>
                @block.templateId
            </td>
            <td>
                <button @onclick="() => RemoveBlock(block.blockId)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockPositionY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockRotationZ"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="_newBlockTemplateId"></InputNumber>
        </td>
        <td>
            <button @onclick="AddBlock" disabled="@(!_templates.Any(o => o.id == _newBlockTemplateId))">Add</button>
        </td>
    </tr>
</table>

<button @onclick="PerfCheck">Perf Check</button>

<InputNumber @bind-Value="_perfTestCount"></InputNumber>
@if (!string.IsNullOrEmpty(_perfResponse))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @_perfResponse
    </div>
}
<CascadingValue Value="this" IsFixed="true">
    @ChildContent

</CascadingValue>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    int _newIdCounter;

    float _newTemplateSizeX = 1;
    float _newTemplateSizeY = 1;
    float _newTemplateSizeZ = 1;

    float _newBlockPositionX;
    float _newBlockPositionY;
    float _newBlockRotationZ;
    int _newBlockTemplateId;

    string? _perfResponse;
    int _perfTestCount;

    private List<(int id, float sizeX, float sizeY, float sizeZ)> _templates = new();
    private List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)> _blocks = new();

    private IBlocksOnGrid3DApp? _unityAppApi;

    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsBrowser())
        {
            _templates = await LocalStorage.GetItemAsync<List<(int id, float sizeX, float sizeY, float sizeZ)>>("_templates") ?? new List<(int id, float sizeX, float sizeY, float sizeZ)>();
            _blocks = await LocalStorage.GetItemAsync<List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)>>("_blocks") ?? new List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)>();

            _newIdCounter = _templates.Select(o => o.id).Concat(_blocks.Select(o => o.blockId)).DefaultIfEmpty(-1).Max() + 1;
        }

        await base.OnInitializedAsync();
    }

    public void InitializeRenderer(IBlocksOnGrid3DApp rendererApi)
    {
        _unityAppApi = rendererApi;
        _unityAppApi.OnUnityAppInitialized += OnAppInitialized;
        _unityAppApi.OnBlockPoseChanging += OnBlockPoseChanging;
        _unityAppApi.OnBlockPoseChanged += OnBlockPoseChanged;
        
        _unityAppApi.InvokeBlazorControllerInitialized(new BlazorControllerInitialized());
    }

    private void OnBlockPoseChanged(BlockPoseChanged obj)
    {
        var blockIndex = _blocks.FindIndex(o => o.blockId == obj.BlockId);
        var block = _blocks[blockIndex];

        _blocks[blockIndex] = (block.blockId, obj.PositionX, obj.PositionY, obj.RotationZ, block.templateId);
        SaveToLocalStorage();
        StateHasChanged();
    }

    private void OnBlockPoseChanging(BlockPoseChanging arg)
    {
        _unityAppApi.InvokeBlockPoseChangeValidated(new BlockPoseChangeValidated
        {
            BlockId = arg.BlockId,
            IsValid = true,
            NewPositionX = arg.PositionX,
            NewPositionY = (float)Math.Round(arg.PositionY, 1),
            NewRotationZ = arg.RotationZ,
            ChangingRequestId = arg.ChangingRequestId
        });
    }

    private async void OnAppInitialized(UnityAppInitialized arg)
    {
        await ReplayState();
    }

    private async ValueTask ReplayState()
    {
        
        foreach (var template in _templates)
        {
            var msg = new AddBlockTemplate { TemplateId = template.id, SizeX = template.sizeX, SizeY = template.sizeY, SizeZ = template.sizeZ };
            await _unityAppApi.InvokeAddBlockTemplate(msg);
        }

        foreach (var block in _blocks)
        {
            var msg = new AddBlockInstance { BlockId = block.blockId, PositionX = block.positionX, PositionY = block.positionY, RotationZ = block.rotationZ, TemplateId = block.templateId };
            await _unityAppApi.InvokeAddBlockInstance(msg);
        }
    }

    private async Task AddTemplate()
    {
        var msg = new AddBlockTemplate { TemplateId = _newIdCounter++, SizeX = _newTemplateSizeX, SizeY = _newTemplateSizeY, SizeZ = _newTemplateSizeZ };
        await _unityAppApi.InvokeAddBlockTemplate(msg);
        _templates.Add((msg.TemplateId, msg.SizeX, msg.SizeY, msg.SizeZ));
        SaveToLocalStorage();
    }

    private void  SaveToLocalStorage()
    {
        Task.Run(async () =>
        {
            await LocalStorage.SetItemAsync("_templates", _templates);
            await LocalStorage.SetItemAsync("_blocks", _blocks);
        });
    }

    private async Task RemoveTemplate(int id)
    {
        await _unityAppApi.InvokeRemoveBlockTemplate(new RemoveBlockTemplate { TemplateId = id });
        _templates.RemoveAll(o => o.id == id);
        SaveToLocalStorage();
    }

    private async Task AddBlock()
    {
        var msg = new AddBlockInstance { BlockId = _newIdCounter++, PositionX = _newBlockPositionX, PositionY = _newBlockPositionY, RotationZ = _newBlockRotationZ, TemplateId = _newBlockTemplateId };
        await _unityAppApi.InvokeAddBlockInstance(msg);
        _blocks.Add((msg.BlockId, msg.PositionX, msg.PositionY, msg.RotationZ, msg.TemplateId));
        SaveToLocalStorage();
    }

    private async Task RemoveBlock(int id)
    {
        await _unityAppApi.InvokeRemoveBlock(new RemoveBlock { BlockId = id });
        _blocks.RemoveAll(o => o.blockId == id);
        SaveToLocalStorage();
    }

    private async Task PerfCheck()
    {
        var testCount = _perfTestCount;

        var responses = new bool[testCount];
        var responsesRemaining = testCount;

        var tcs = new TaskCompletionSource();
        var avgStopwatch = new Stopwatch();

        _unityAppApi.OnPerfCheck += Process;

        avgStopwatch.Start();
        for (var i = 0; i < testCount; i++)
        {
            await _unityAppApi.InvokePerfCheck(new PerfCheck
            {
                Id = i,
                Aaa = 12,
                Bbb = 12.12,
                Ccc = 13.13m,
                Ddd = "https://aaaa.cc/erekwn/sdas?adsasd=asda"
            });
        }

        await tcs.Task;

        _unityAppApi.OnPerfCheck -= Process;

        _perfResponse = $"{testCount} messages there and back, took {avgStopwatch.ElapsedMilliseconds:F2} ms (avg {(decimal)avgStopwatch.ElapsedMilliseconds / testCount:F2} ms)";

        void Process(PerfCheck response)
        {
            responses[response.Id] = true;
            responsesRemaining--;
            if (responsesRemaining == 0)
            {
                avgStopwatch.Stop();
                tcs.SetResult();
            }
        }
    }

}