@rendermode InteractiveAuto
@using System.Diagnostics
@using BlazorWith3d.ExampleApp.Client.Unity.Shared
@using BlazorWith3d.Unity
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IServiceProvider Services
@inject ILogger<UnityForBlazor> Logger


<text>@(OperatingSystem.IsBrowser()?"WASM":"Serverside")</text>


<table>
    <thead>
    <tr>
        <td>
            Template id
        </td>
        <td>
            sizeX
        </td>
        <td>
            sizeY
        </td>
        <td>
            sizeZ
        </td>
        <td>
        </td>
    </tr>
    </thead>
    @foreach (var template in _templates)
    {
        <tr>
            <td>
                @template.id
            </td>
            <td>
                @template.sizeX
            </td>
            <td>
                @template.sizeY
            </td>
            <td>
                @template.sizeZ
            </td>
            <td>
                <button @onclick="() => RemoveTemplate(template.id)">Remove</button>
            </td>
        </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="newTemplateSizeX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="newTemplateSizeY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="newTemplateSizeZ"></InputNumber>
        </td>
        <td>
            <button @onclick="AddTemplate">Add</button>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Block id
        </td>
        <td>
            positionX
        </td>
        <td>
            positionY
        </td>
        <td>
            rotationZ
        </td>
        <td>
            templateId
        </td>
        <td>
        </td>
    </tr>
    @foreach (var block in _blocks)
    {
    <tr>
        <td>
            @block.blockId
        </td>
        <td>
            @block.positionX
        </td>
        <td>
            @block.positionY
        </td>
        <td>
            @block.rotationZ
        </td>
        <td>
            @block.templateId
        </td>
        <td>
            <button @onclick="()=> RemoveBlock(block.blockId)">Remove</button>
        </td>
    </tr>
    }

    <tr>
        <td>

        </td>
        <td>
            <InputNumber @bind-Value="newBlockPositionX"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="newBlockPositionY"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="newBlockRotationZ"></InputNumber>
        </td>
        <td>
            <InputNumber @bind-Value="newBlockTemplateId"></InputNumber>
        </td>
        <td>
            <button @onclick="AddBlock" disabled="@(!_templates.Any(o=>o.id==newBlockTemplateId))">Add</button>
        </td>
    </tr>
</table>

<button @onclick="PerfCheck">Perf Check</button>

<InputNumber @bind-Value="perfTestCount"></InputNumber>
@if (!string.IsNullOrEmpty(_perfResponse))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @_perfResponse
    </div>
}

<TypedMessageUnityComponent @ref="_unityComponent" UnityBuildFilePath="@Assets[""]"></TypedMessageUnityComponent>


@code {

    // TODO this is never null, test again how the disappearance is handled!! seems there is a memory leak
    private TypedMessageUnityComponent? _unityComponent;

    int newIdCounter;

    float newTemplateSizeX = 1;
    float newTemplateSizeY = 1;
    float newTemplateSizeZ = 1;

    float newBlockPositionX;
    float newBlockPositionY;
    float newBlockRotationZ;
    int newBlockTemplateId;

    string _perfResponse;
    int perfTestCount;

    private List<(int id, float sizeX, float sizeY, float sizeZ)> _templates = new();
    private List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)> _blocks = new();

    private MyUnityApi _unityAppApi;

    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsBrowser())
        {
            _templates = await localStorage.GetItemAsync<List<(int id, float sizeX, float sizeY, float sizeZ)>>("_templates") ?? new();
            _blocks = await localStorage.GetItemAsync<List<(int blockId, float positionX, float positionY, float rotationZ, int templateId)>>("_blocks") ?? new();

            newIdCounter = _templates.Select(o => o.id).Concat(_blocks.Select(o => o.blockId)).DefaultIfEmpty(-1).Max() + 1;
        }

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _unityAppApi = new MyUnityApi(_unityComponent.TypedUnityApi);

            _unityAppApi.OnAppInitialized += OnAppInitialized;
            _unityAppApi.OnBlockPoseChangingMessage += OnBlockPoseChanging;
            _unityAppApi.OnBlockPoseChangedMessage += OnBlockPoseChanged;
        }

        base.OnAfterRender(firstRender);
    }

    private void OnBlockPoseChanged(BlockPoseChangedMessage obj)
    {
        var blockIndex = _blocks.FindIndex(o => o.blockId == obj.BlockId);
        var block = _blocks[blockIndex];

        _blocks[blockIndex] = (block.blockId, obj.PositionX, obj.PositionY, obj.RotationZ, block.templateId);
        StateUpdated();
        this.StateHasChanged();
    }

    private void OnBlockPoseChanging(BlockPoseChangingMessage arg)
    {
        _unityAppApi.InvokeBlockPoseChangingResponse(new BlockPoseChangingResponse()
        {
            BlockId = arg.BlockId,
            IsValid = true,
            NewPositionX = arg.PositionX,
            NewPositionY = (float)Math.Round(arg.PositionY, 1),
            NewRotationZ = arg.RotationZ,
            ChangingRequestId = arg.ChangingRequestId
        });
    }

    private async void OnAppInitialized(AppInitialized arg)
    {
        await ReplayState();
    }

    private async ValueTask ReplayState()
    {
        foreach (var template in _templates)
        {
            var msg = new AddBlockTemplateMessage() { TemplateId = template.id, SizeX = template.sizeX, SizeY = template.sizeY, SizeZ = template.sizeZ };
            await _unityAppApi.InvokeAddBlockTemplateMessage(msg);
        }

        foreach (var block in _blocks)
        {
            var msg = new AddBlockInstanceMessage() { BlockId = block.blockId, PositionX = block.positionX, PositionY = block.positionY, RotationZ = block.rotationZ, TemplateId = block.templateId };
            await _unityAppApi.InvokeAddBlockInstanceMessage(msg);
        }
    }

    private async Task AddTemplate()
    {
        var msg = new AddBlockTemplateMessage() { TemplateId = newIdCounter++, SizeX = newTemplateSizeX, SizeY = newTemplateSizeY, SizeZ = newTemplateSizeZ };
        await _unityAppApi.InvokeAddBlockTemplateMessage(msg);
        _templates.Add((msg.TemplateId, msg.SizeX, msg.SizeY, msg.SizeZ));
        await StateUpdated();
    }

    private async Task StateUpdated()
    {

        await localStorage.SetItemAsync("_templates", _templates);
        await localStorage.SetItemAsync("_blocks", _blocks);
    }

    private async Task RemoveTemplate(int id)
    {
        await _unityAppApi.InvokeRemoveBlockTemplateMessage(new RemoveBlockTemplateMessage() { TemplateId = id });
        _templates.RemoveAll(o => o.id == id);
        await StateUpdated();
    }

    private async Task AddBlock()
    {
        var msg = new AddBlockInstanceMessage() { BlockId = newIdCounter++, PositionX = newBlockPositionX, PositionY = newBlockPositionY, RotationZ = newBlockRotationZ, TemplateId = newBlockTemplateId };
        await _unityAppApi.InvokeAddBlockInstanceMessage(msg);
        _blocks.Add((msg.BlockId, msg.PositionX, msg.PositionY, msg.RotationZ, msg.TemplateId));
        await StateUpdated();
    }

    private async Task RemoveBlock(int id)
    {
        await _unityAppApi.InvokeRemoveBlockMessage(new RemoveBlockMessage() { BlockId = id });
        _blocks.RemoveAll(o => o.blockId == id);
        await StateUpdated();
    }

    private async Task PerfCheck()
    {
        int testCount = perfTestCount;

        var responses = new bool[testCount];
        var responsesRemaining = testCount;

        var tcs = new TaskCompletionSource();
        var avgStopwatch = new Stopwatch();

        _unityAppApi.OnPerfCheckResponse += process;

        avgStopwatch.Start();
        for (int i = 0; i < testCount; i++)
        {
            await _unityAppApi.InvokePerfCheckRequest(new PerfCheckRequest()
            {
                Id = i,
                aaa = 12,
                bbb = 12.12,
                ccc = 13.13m,
                ddd = "http://aaaa.cc/erekwn/sdas?adsasd=asda"
            });
        }

        await tcs.Task;

        _unityAppApi.OnPerfCheckResponse -= process;

        _perfResponse = $"{testCount} messages there and back, took {avgStopwatch.ElapsedMilliseconds:F2} ms (avg {(decimal)avgStopwatch.ElapsedMilliseconds / testCount:F2} ms)";

        void process(PerfCheckResponse response)
        {
            responses[response.Id] = true;
            responsesRemaining--;
            if (responsesRemaining == 0)
            {
                avgStopwatch.Stop();
                tcs.SetResult();
            }
        }
    }

}